@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}

button:hover {
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
